*{
    margin:0;padding:0;
    list-style:none;
}
html,body,#root,.App{
    width:100%;height:100%;
}
.main{
    width:100%;height:100%;
    .tabPageContent{
        width:100%;height:100%;
        #minePage{
            width:100%;height:100%;
            display:flex;
            flex-direction:column;
            // line-height:3rem;
            .userMsgWrap{
              width:100%;
              height:3rem;
              background:#6d5e35;
              display:flex;
             padding:0.4rem 0.8rem;
              .userLogo{
                  width:1.6rem;
                  height:1.6rem;
                  border:0.1rem solid #ccc;
                  padding:0.4rem;
              }
              .userMsgs{
                width:5rem;
                height:1.6rem;
                line-height:0.6rem;
                padding:0.2rem;
                color:#fff;
              }
            }
            .userPower{
                flex:1;
                width:100%;height:100%;
                // background:#f00;
                overflow:auto;
                display:flex;
                flex-wrap:wrap;
                div{
                   text-align:center;
                    width: 33.333%;
                    height: 2.5rem;
                    background: white;
                    border: 0.01rem solid gainsboro;
                    display:flex;
                    flex-direction:column;
                    i{
                        width:100%;
                        height:1rem;
                        padding:0.8rem 0;
                    }
                    div{
                      width:100%;
                      height:0.4rem;
                        text-align: center;
                        font-size: 0.3rem;
                        border:none;
                    }
                }
            }
        }
    }
 
}